@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');



body {
    margin: 0;
    padding: 0;
    font-family: Belanosima;
    box-sizing: border-box;
    /* overflow: hidden; */
}

img {
    /* height: 50px;
    max-width: 80px; */
}



/* Start Screen */
#game-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



/* Intro Container */
.intro-container {
    height: auto;
    width: 60vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);    
}

.intro-container h1 {
    font-size: 2.5rem;
    padding: 0rem 2rem;
}

.img-intro {
    height: 7rem;
    width: 7rem;
    padding-bottom: 2rem;
}

#game-intro p {
    font-size: 1rem;
    padding: 0.4rem;
    margin:0;
}

.game-container-p-1 {
    padding-top: 0;
    margin-top: 0;
}

.start-screen-button {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem 5rem;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #20659c;
    color: white;
}

.start-screen-button:hover {
    color: #20659c;
    background-color: white;
    border: 1px solid #20659c;
}


/* Game Container  */
#game-container {
    display: none; /*Make 'display: block' to see it */
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.stats-container {
    height: 3rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
    padding-right: 2rem;
    align-items: center;
    /* background-color: red; */
}

.stats p {
    display: inline;
    padding-right: 0.5rem;;
}





/* Game Screen */
#game-screen {
    display: none;
    align-content: center;
    padding: 0px 0px;
    margin: 0px;
    border: 2px #20659c solid;
    position: relative;   /* We set the position to relative because we want to position everything else in absolute */
    background-image: url('./Images/dfemw24-7874c1fd-f733-4dbd-9e5e-0cd5717b39e3.png');
    background-position: center;
    background-size: cover;
}


.audioButton img {
    height: 30px;
    width: 30px;
}

.audioButton {
    width: 30px;
    height: 30px;
    background-color: black;
    margin-top: 1rem;
    border: 1px solid #20659c;
}

.mute {
    background-image: url('./Images/silencio\ \(1\).png');
    background-size: cover;
    background-position: center;
    
}


.unMute {
    background-image: url('./Images/simbolo-de-interfaz-de-subir-volumen.png');
    background-size: cover;
    background-position: center;
}


/* End Screen */
#game-end {
    display: none;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.end-container {
    height: auto;
    width: 60vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  
}

#game-end img {
    padding-top: 2rem;
    height: 5rem;
    width: 7rem;
}

#restart-button {
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    margin: 2rem 0;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #20659c;
    color: white;
}

#restart-button:hover {
    color: #20659c;
    background-color: white;
    border: 1px solid #20659c;
}

.end-container h1 {
    font-size: 2rem;
    padding: 1rem 2rem;
}

.end-container p {
    font-size: 1rem;
    padding: 0 2rem;
}